* {
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 14px;
}
.padding-top {
    padding-top: 20px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    height: 766px;
    left: -222px;
    top: 0px;
}
.margin {
    margin-top: 19px;
    margin-right: 19px;
    margin-bottom: 51px;
}
.displayRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center {
    display: flex;
    flex-direction: row;
}
